body {
    font-family: 'Roboto', sans-serif;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 15px;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header {
    background: #1F2937;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.left-links a {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

.right-links a {
    font-size: 18px;
    color: #E5E7EB;
}

.main-content {
    background: #1F2937;
    display: flex;
}

.text-button {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.main-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.sub-text {
    font-size: 18px;
    color: #E5E7EB;
}

.signup-button {
    width: 100px;
    padding: 7px;
    font-size: 20px;
    font-weight: bold;
    background-color: #3882F6;
    color: white;
    /* make button rounder corner */
    border-radius: 10px;
}